@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500&family=Young+Serif&display=swap');

* {
  font-family: 'Playpen Sans', cursive;
  font-family: 'Young Serif', serif;
}


body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

main {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 18px;
}

.title {
  border-bottom: 3px solid blueviolet;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  gap: 1.8rem;
}


.btn1,
.btn2 {
  padding: 12px 22px;
  border-radius: 8px;
  border: solid 0.6px blueviolet;
  font-size: 0.8rem;
  font-weight: 300;
}

.btn1:hover,
.btn2:hover,
#reset:hover {
  background-color: rgb(150, 76, 219);
  color: black;
  transition: 0.8s;
  border: 0.8px solid black;
  border-radius: 18px;
}


#reset {
  padding: 12px 22px;
  border-radius: 8px;
  border: solid 0.6px blueviolet;
  font-size: 0.8rem;
  font-weight: 300;
}

#display {
  color: rgb(25, 21, 21);
}